body {
  margin: 0;
  padding: 0;
}

header, footer, section button, section .pagination a.active {
  background: #000080;
  color: #eee;
}

header {
  width: 100vw;
  height: 70px;
}
header h1 {
  padding: 30px;
}

section {
  width: 100vw;
  min-height: calc(100vh - 124px);
  padding: 16px;
}

section table {
  min-width: 50%;
}

section a.header {
  color: black;
  text-decoration: none;
}

section .pagination {
  display: inline-block;
}

section .pagination a, section .pagination div {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

section .pagination a:hover:not(.active) {background-color: #ddd;}

section button {
  border: 1px solid #000;
  padding: 6px;
}

section .alert-red {
  background-color: #f44336;
}

section .alert-green {
  background-color: #04AA6D;
}

section .alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  width: calc(100% - 70px);
}

section .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

section .closebtn:hover {
  color: black;
}

footer {
  width: 100vw;
  height: 22px;
  text-align: center;
}